{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  {% include 'base/head.html' %}

</head>
<body class="container col">

  {% include 'base/header.html' %}

  {% block content %}

  {% endblock %}

  {% include 'base/footer.html' %}

	<div class="status-bar-offset navbar-fixed-bottom">
    <span class="label label-primary" id="browserWindowWidth">- px</span>
    <span class="label label-primary" id="browserWindowHeight">- px</span>
	</div>

	<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{#  <script async src="https://pro.fontawesome.com/releases/v5.0.10/js/light.js" integrity="sha384-rv/n2A+UxOzR1qs4wrcOtJ7Ai5Hcn3QQ8tvEkOo5lCvqCD3xwpeO3KZP18JpSXr3" crossorigin="anonymous"></script>#}
{#  <script async src="https://pro.fontawesome.com/releases/v5.0.10/js/brands.js" integrity="sha384-OwdVp9K/baqiXthTvRnYzMcsTaqwG19SfDkTRc/GBIhK9eYlWVVBEvLlueA0STAP" crossorigin="anonymous"></script>#}

	<script>
			$.noConflict();


			width = jQuery( window ).width();
			jQuery('#browserWindowWidth').html(width + " px");

			height = jQuery(this).height();
			jQuery('#browserWindowHeight').html(height + " px");

			/**
			 *
			 * ResizeTool
			 *
			 **/
			jQuery(window).resize(function () {

					if (jQuery(this).width() != width) {
							width = jQuery(this).width();
							jQuery('#browserWindowWidth').html(width + " px");
					}

					if (jQuery(this).height() != height) {
							height = jQuery(this).height();
							jQuery('#browserWindowHeight').html(height + " px");
					}

			});
	</script>

	<style type="text/css">

			.label-primary {
					background-color: #428bca;
			}

			.label {
					border-radius: 0.25em;
					color: #fff;
					display: inline;
					font-size: 75%;
					font-weight: 700;
					line-height: 1;
					padding: 0.2em 0.6em 0.3em;
					text-align: center;
					vertical-align: baseline;
					white-space: nowrap;
			}

			.navbar-fixed-bottom {
					border-radius: 0;
					border-width: 1px 0 0;
					bottom: 0;
					margin-bottom: 0;
					left: 0;
					position: fixed;
					right: 0;
					z-index: 9999;
			}

	</style>

</body>
</html>