<footer class="container col-no-wrap">
  <div class="container row-no-wrap">
    {% for com in common %}
      <div>
        <h4>{{ com }}</h4>
        <p>{{ com.content|safe }}</p>
      </div>
    {% endfor %}
    </div>
    <div class="copyright-box">
        <hr />
            <span class="copyright-text">
                <i class="fal fa-copyright fa-xs" data-fa-transform="up-10"></i> Greg Csokas {% now "Y" %}
            </span>
    </div>
</footer>
