{% load static %}

<meta content="text/html" charset="UTF-8" />
<meta name="viewport" content="{{ meta.viewport }}">
<title>{{ meta.title }}</title>
<meta name="description" content="{{ meta.description }}" />
<meta name="keywords" content="{{ meta.keywords }}" />
<meta name="author" content="{{ meta.author }}" />

{#<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/light.css" integrity="sha384-d8NbeymhHpk+ydwT2rk4GxrRuC9pDL/3A6EIedSEYb+LE+KQ5QKgIWTjYwHj/NBs" crossorigin="anonymous">#}
{#<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-LDuQaX4rOgqi4rbWCyWj3XVBlgDzuxGy/E6vWN6U7c25/eSJIwyKhy9WgZCHQWXz" crossorigin="anonymous">#}

<link rel="stylesheet" type="text/css" href="{% static 'css/golden_compass.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/colors.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/mediaquery.css" %}" />