body {
    background-color: #f0f0f0;
}

.side-color{
background-color: #00B5AD;
}

.post-image {
box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
background: #393939;
}

.title-matrice {
background-color: rgba(0, 0, 0, 0.75);
}


.footer {
color: #656565;
background-color: #1d2027;
}

.sub-menu {
background-color: rgba(245, 245, 245, 0.90);
}


li a:not(.home) {
    color: rgba(0, 0, 0, 0.75);
}

li a:not(.home):hover {
    color: #D6523C;
}

a {
    color: #D6523C;
}

a > svg {
    color: #656565;
}

li.menu-item:not(:first-child):not(.search):not(.login):hover, .sub-menu-item:hover  {
    background-color: rgba(128, 128, 128, 0.25);
}
