$golden: 1.618

$bw: 100vw
$bh: 100vh

$gld10-w: $bw / $golden
$gld9-w:  $bw - $gld10-w
$gld8-w:  $gld9-w / $golden
$gld7-w:  $gld9-w - $gld8-w
$gld6-w:  $gld7-w / $golden
$gld5-w:  $gld7-w - $gld6-w
$gld4-w:  $gld5-w / $golden
$gld3-w:  $gld5-w - $gld4-w
$gld2-w:  $gld3-w / $golden
$gld1-w:  $gld3-w - $gld2-w

$gld10-h: $bh / $golden
$gld9-h:  $bh - $gld10-h
$gld8-h:  $gld9-h / $golden
$gld7-h:  $gld9-h - $gld8-h
$gld6-h:  $gld7-h / $golden
$gld5-h:  $gld7-h - $gld6-h
$gld4-h:  $gld5-h / $golden
$gld3-h:  $gld5-h - $gld4-h
$gld2-h:  $gld3-h / $golden
$gld1-h:  $gld3-h - $gld2-h

.full
  width: $bw

.xlarge
  width: $bw - ($gld7-w + $gld7-w)

.large
  width: $gld10-w

.med
  width: $gld9-w

.small
  width: $gld8-w

.xsmall
  width: $gld7-w

.stripe-f
  height: $bh

.stripe-xl
  height: $gld10-h

.stripe-l
  height: $gld8-h

.stripe-ml
  height: $gld7-h

.stripe-m
  height: $gld6-h

.stripe-ms
  height: $gld5-h

.stripe-s
  height: $gld4-h

.stripe-xs
  height: $gld2-h

