.full {
  width: 100vw;
}

.xlarge {
  width: 70.8223768146vw;
}

.large {
  width: 61.804697157vw;
}

.med {
  width: 38.195302843vw;
}

.small {
  width: 23.6064912503vw;
}

.xsmall {
  width: 14.5888115927vw;
}

.stripe-f {
  height: 100vh;
}

.stripe-xl {
  height: 61.804697157vh;
}

.stripe-l {
  height: 23.6064912503vh;
}

.stripe-ml {
  height: 14.5888115927vh;
}

.stripe-m {
  height: 9.0165708237vh;
}

.stripe-ms {
  height: 5.572240769vh;
}

.stripe-s {
  height: 3.4439065322vh;
}

.stripe-xs {
  height: 1.3154105296vh;
}

/*# sourceMappingURL=golden-compass.css.map */
