@media only screen and (max-width: 414px) {
    li a {
        font-size: 1em;
    }

    ul.menu {
        width: 100vw;
        margin: 0;
    }

    .menu li:not(.search):not(.login) {
        width: calc(100vw / 3);
    }

    section {
        width: 95vw;
    }
}


@media only screen and (min-width: 960px) {
    html {
        line-height: 1.618vw;
    }

    .menu li:not(.search):not(.login) {
        width: calc(100vw / 8);
    }
}

